
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    margin: 50vh;
}
:root {
    --earth-orbit: 4s;
}

.system {
    position: relative;
    padding: 600px;
    width: 1000px;


}
.system img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.orbit {
    position:absolute;
    top:50%;
    left:50%;
    border: 1px solid #ffffff4d;
    border-radius: 100%;
    transform: translate(-50%,-50%);
    animation: spin infinite linear both;
    
}

.orbit-sun {
    border: none;
   

}
.orbit-sun img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}


.planet {
    position: absolute;
    top: 50%;
    left:-12px;
    transform: translateY(-50%);
    
    
    
}
.orbit:nth-child(1){
    width: calc(10%);
    height: calc(10%);
}

.orbit:nth-child(2){
    width: calc(20%);
    height: calc(20%);

}

.orbit:nth-child(3){
    width: calc(30%);
    height: calc(30%);
}

.orbit:nth-child(4){
    width: calc(40%);
    height: calc(40%);
}

.orbit:nth-child(5){
    width: calc(50%);
    height: calc(50%);
}
.orbit:nth-child(6){
    width: calc(60%);
    height: calc(60%);
}
.orbit:nth-child(7){
    width: calc(70%);
    height: calc(70%);
}

.orbit:nth-child(8){
    width: calc(80%);
    height: calc(80%);
}
.orbit:nth-child(9){
    width: calc(90%);
    height: calc(90%);
}

.orbit:nth-child(10){
    width: calc(100%);
    height: calc(100%);
}

@keyframes spin {
    from {
        transform: translate(-50%,-50%); 
      
    }
    to {
        transform: translate(-50%, -50%)
         rotate(360deg);
    }
}
.orbit-mercury {
    animation-duration: 
    calc(0.50 * var(--earth-orbit));
}

.orbit-venus {
    animation-duration: 
    calc(0.72 * var(--earth-orbit));
}

.orbit-earth {
    animation-duration:var(--earth-orbit)
    
}

.orbit-mars {
    animation-duration: 
    calc(1.88 * var(--earth-orbit)) ;
    
}
.orbit-jupiter {
    animation-duration: 
    calc(11.87 * var(--earth-orbit)) ;
    
}
.orbit-saturn {
    animation-duration: 
    calc(29.47 * var(--earth-orbit)) ;
    
}

.orbit-uranus {
    animation-duration: 
    calc(84.07 * var(--earth-orbit)) ;
    
}

.orbit-neptune {
    animation-duration: 
    calc(164.9 * var(--earth-orbit)) ;
    
}

.orbit-pluton {
    animation-duration: 
    calc(248 * var(--earth-orbit)) ;
    
}